name: Validate

on:
  pull_request:

jobs:
  check_urls:
    name: Check new links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Find changed lines
        id: changed_lines
        uses: hestonhoffman/changed-lines@v1
        with:
          file_filter: .txt

      - name: Find any URLs in new lines and check they are resolvable
        run: |
          echo '${{ steps.changed_lines.outputs.changed_lines }}' | jq --raw-output 'to_entries | .[] | "\(.key): \(.value | join(", "))"' | while read line; do
            file=$(echo "$line" | cut -d: -f1)
            lines=$(echo "$line" | cut -d: -f2)

            IFS=',' read -r -a line_numbers <<< "$lines"
            for line_number in "${line_numbers[@]}"; do
              # Extract anything that looks like a URL - we don't want to be too strict, we *want* to catch invalid URLs
              url=$(sed -n "${line_number}p" "$file" | grep --extended-regexp --only-matching '[^[:space:]]*https?://[^[:space:]]*' || true)

              if [[ -n "${url}" ]]; then
                  status=$(curl --output /dev/null --location --head --write-out "%{http_code}" "${url}" || true)

                  if [[ "${status}" == "200" ]]; then
                    echo "✅ ${url}"
                  else
                    echo "::error::❌ URL '${url}' in ${file} had status ${status}" 1>&2
                    exit 1
                  fi
              fi
            done
          done

  validate_syntax:
    name: Validate file syntax
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Check files match the expected syntax
        run: |
          # Look in all -non "release_meta" txt files
          find . -type f -name '*.txt' ! -path './release_meta/*' | while read -r file; do
              # Check the content is _one_ of the following:
              # "========== {something}"
              # "=== END"
              # "---"
              # "Key: {optional-value}"
              # Implicitly assumes Unix line endings
              invalid_lines=$(grep --line-number --invert-match --extended-regexp '^(========== .+|=== END|---|[^:]+:(.*))$' "${file}" || true)

              if [[ -n "$invalid_lines" ]]; then
                  echo "::error::❌ File ${file} had invalid lines" 1>&2
                  echo "::error::${invalid_lines}" 1>&2
                  exit 1
              fi
          done
